- namespace_link = link_to(@achievement.namespace.full_path, group_url(@achievement.namespace))

%p
  = html_escape(s_("Achievements|%{namespace_link} awarded you the %{bold_start}%{achievement_name}%{bold_end} achievement!")) % { namespace_link: namespace_link, achievement_name: @achievement.name, bold_start: '<b>'.html_safe, bold_end: '</b>'.html_safe }

- accept_link = link_to(s_("Achievements|Accept this achievement"), @accept_url)
%p
  = html_escape(s_("Achievements|%{accept_link} to show it on your profile. If you do not wish to accept, simply ignore this email.")) % { accept_link: accept_link }
